header{
    background-color: #1a1a1a;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.navbar-nav a{
    color: white;
    transition: color 0.7s ease;
}

.navbar-nav a:hover{
    color: yellow !important;
}

.navbar img{
    height: 50px;
    width: 50px;
}

.router-link-active{
    color: yellow;
}

.router-link-exact-active{
    color: yellow;
}