.question-img{
    width: 100%;
    height: 100%;
}

.bg-card-dark{
    background-color: #1a1a1a !important;
    color: white !important;
}

.item-card:hover{
    background-color: white !important;
    color: #1a1a1a !important;
}